<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не для пользователей</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>
<body>
<div id="app">
    <h1>Это для админов дружище, тебе сюда нельзя</h1>
    <p>Ай ай ай, ай нид май самурай</p>
    <button @click="reverseMessage">Reverse Message</button>
</div>

<script type="text/javascript">
    const app = Vue.createApp({
        delimiters: ['[[', ']]'],  // Настраиваем альтернативный синтаксис
        data() {
            return {
                message: "Это для админов",
                description: "Ай ай ай, ай нид май самурай",
            };
        },
        methods: {
            reverseMessage() {
                this.message = this.message.split('').reverse().join('');
            },
        },
    });
    app.mount('#app');
</script>
</body>
</html>
